<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.Settle.mapper.SettleMapper">
    <update id="updateStatus" parameterType="int">
          update t_buySettle set status=2 where id=#{id}
    </update>

    <update id="selectUpdateById" parameterType="int">
          update t_buySettle set status=1 where id=#{id}
    </update>
</mapper>
